.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}

.form{
    padding-inline: 100px;
    padding-top: 15px;
    width:500px;
    color:#696969;

}

label{
    padding-top: 10px;
}

