<div class="center">
    <div class="form">
        <h2>Register</h2>
        <form [formGroup]="registerForm" class="p-1" (ngSubmit)="register()">
            <div>
                <label for="username">Username</label>
                <input formControlName="username" id="username" type="text" placeholder="" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" placeholder="" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Email</label>
                <input formControlName="email" type="text" placeholder="" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">First Name</label>
                <input formControlName="fName" type="text" placeholder="" id="firstName" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Last Name</label>
                <input formControlName="lName" type="text" placeholder="" id="lastName" class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </form>
    </div>
</div>