.btn{
    background-color: #9BA17B;
}

h2 {
    text-align: center;
}

h5 {
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}

.form{
    padding-inline: 100px;
    padding-top: 15px;
    width:500px
    
}



