<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Dashboard</title>

    <link rel="stylesheet" href="user-dashboard.component.css">

  </head>
  <body>
    
<div>
  <header>
    <a *ngIf="username">
      <span>Welcome {{username}}</span>
    </a>
  </header>
</div>

  <main>
    <h3>View your anime library</h3>
    <p class="fs-5 col-md-8"></p>

    <div class="text-center">
      <a href="../watched" class="btn">Watched</a>  
      <a href="../library" class="btn">To Be Watched</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="center">
        <h3>View another user's library</h3>
  
           <div class="text-center">
             <span></span>
      <input type="text" [(ngModel)]="friend" ><br/>
      <a class="btn" [routerLink]="['/library', friend]">Go to {{friend}}'s library</a> 
      </div>
    </div>
    <hr class="col-3 col-md-2 mb-5">
    <div>
      <app-adder></app-adder>
    </div>
    <div>
      <app-recommender></app-recommender>
    </div>
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
  </footer>
<!-- </div> -->


    <script src="user-dashboard.component.ts"></script>

      
  </body>
</html>