<div class="center">
  <div class="form">
      <h2>Looking for a recommendation?</h2>
      <form [formGroup]="recommendationForm" class="p-1" (ngSubmit)="recommendAnime()">
          <div>
              <label for="genre">Genre</label>
              <input formControlName="genre" id="genre" type="text" placeholder="Genre" class="form-control">
          </div>
          <div>
              <label for="rating">Rating</label>
              <input formControlName="rating" id="rating" type="text" placeholder="Rating" class="form-control">
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-secondary" [disabled]="!recommendationForm.valid && !buttonDisabled">Recommend!</button>
          </div>
      </form>
  </div>
  <div *ngIf="recommendedAnime">
    <h2>{{recommendedAnime.title}}</h2>
    <p>{{recommendedAnime.rating}}</p>
    <p>{{recommendedAnime.themes.name}}</p>
    <p>{{recommendedAnime.synopsis}}</p>
  </div>
</div>