/* You can add global styles to this file, and also import other style files */
body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    background-color:#c3ca99;
    color: dimgray;
}

header {
    text-align: center;
    color:dimgrey;
    padding-top: 2rem;
    font-size: larger;
}

h3 {
    text-align: center;
    color:dimgrey;
    padding-top: 2rem;
}

.btn{
    margin: 1rem;
    background-color: #9BA17B;
    border-radius: .25rem;
}