<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
 <hibernate-configuration>
 	<session-factory>
 	
 		<!-- JDBC -->
 		<!-- Make sure to change these when we get running DB -->
		<property name="hibernate.connection.username">${USERNAME}</property>
		<property name="hibernate.connection.password">${PASSWORD}</property>
		<property name="hibernate.connection.url">${URL}</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		
		<!-- Hibernate Properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.default_schema">hibernate</property>
		
		<!-- Hibernate console output -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- DDL -->
		<!-- Same for this, make sure to change if needed -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Now that hbm2ddl.auto is set to update, tables don't drop when the application runs -->
		
		
		<!-- We need to map our Classes in order for them to be recognized by Hibernate -->
		<mapping class="com.revature.models.Anime"/>
		<mapping class="com.revature.models.User"/>
		<mapping class="com.revature.models.UserAnime"/>
		<mapping class="com.revature.models.Studio"/>
		<mapping class="com.revature.models.WatchStatus"/>
		<mapping class="com.revature.models.Genre"/>
		<mapping class="com.revature.models.Review"/>
 	
 	</session-factory>
 </hibernate-configuration>